<div class="modal-header" style="border:none;">
  <button type="button" class="close" style="font-weight:bold; opacity:0.8" data-dismiss="modal" aria-label="Close">
    <span style="font-weight:bold; opacity:0.8" aria-hidden="true" >
      &times;
    </span>
  </button>
  <h3> <%=header%> </h3>
</div>