<div class="row">
	<div class="col-sm-4" style="float:right; font-size:16px; color:#333;">
		<%= render "user_sites" %>
		<br>
		<%= link_to("Log Out", destroy_user_session_path, :style => "color:blue !important;") %>
	</div>
</div>