<h2> Your Sites </h2>
<ul style="list-style-type: none; padding:0px;">
	<% current_user.sites.each do |s| %>
		<li>
			<%= s.name %>
			<%= link_to("Edit Site", [:edit, s], :target => "_blank", :style => "color:blue !important; border-right:1px solid:#333;") %>
			|
			<%= link_to("View Site", s, :target => "_blank", :style => "color:blue !important;") %>
		</li>
	<% end %>
</ul>