html {
  height:100%;
}

body {
  margin:0px;
  padding:0px;
  /*padding-top:100px;*/
  height:100%;

}

/*.clearfix {
  overflow: auto;
}*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.picndo-row {
  /*width:auto !important;*/
  /*display:inline-block;*/
  /*max-width:100%;*/
  /*max-width: 1280px;*/
  margin-left:auto;
  margin-right:auto;
}

.picndo-inline {
  /*display:inline-block;*/
}

.picndo-editable {
  position:relative !important;
  /*margin-left:0px;*/
  /*margin-right:0px;*/
}

.edit_menu {
  position:absolute;
  width: auto;
  height: auto;
  right: 20px;
  top: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  z-index:1000000;
  visibility: hidden;
}

/*remove blue outline on click*/
.btn:active,
.btn:focus,
/*.btn:focus:active,*/
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-link {
  margin-left:    40px;
  font-size:      14pt;
  color:          #555;
}

.site-link:hover {
  color:        #555;
}

/*.btn:focus, .btn:active, .btn.active, .btn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  /*padding: 6px 0;*/
  padding: 0px 0;
  margin-left:3px;
  font-size: 10px;
  /*line-height: 1.42;*/
  line-height: 20px;
  border-radius: 10px;
  border:none;
}

.btn-micro {
  width: 16px;
  height: 16px;
  text-align: center;
  /*padding: 6px 0;*/
  padding: 0px;
  /*margin-left:3px;*/
  font-size: 10px;
  /*line-height: 1.42;*/
  line-height: 16px;
  /*border-radius: 7px;*/
  border:none;
}

.controller-element {
  border-bottom: #ccc;
}

.slideout {
  position: fixed;
  bottom: 100px;
  left: 0;
  -webkit-transition-duration: 1.0s;
  -moz-transition-duration: 1.0s;
  -o-transition-duration: 1.0s;
  transition-duration: 1.0s;
  z-index:9999;
}

.slideout > img {
  position: relative;
  top:0px;
}

.slideout_inner {
  position: fixed;
  bottom: 100px;
  left: -280px;
  width:280px;
  -webkit-transition-duration: 1.0s;
  -moz-transition-duration: 1.0s;
  -o-transition-duration: 1.0s;
  transition-duration: 1.0s;
}
.slideout:hover {
  left: 280px;
}
.slideout:hover .slideout_inner {
  left: 0;
}

.site-template-row {
  margin: 0px;
}

.site-template-row > .site-template-selector {
  box-sizing:     border-box;
  min-height:     250px;
  position:       relative;
}

.site-template-row > .site-template-selector > .template-selector-inner {
  position:         absolute;
  left: 16px;
  right: 16px;
  top:16px;
  bottom:16px;
  border:         1px solid black;
  /*text-align:     center;*/
}

.content-centered {
  height:100%;
  text-align: center;
  background: #e0e0e0;
  border: #a0a0a0 solid 1px;
  /*margin: 20px;*/
}

.content-centered:hover {
  background: #c0c0c0;
}

.content-centered:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */

  /* For visualization
  background: #808080; width: 5px;
  */
 }

.content-centered > * {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;
 }

/********************************************/
/*        awesome bootstrap checkbox        */
/********************************************/
.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }
.checkbox.checkbox-single label {
    height: 17px; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }
.radio.radio-single label {
    height: 17px; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

.form-control:focus,
.btn:focus,
.btn:active,
.btn-default:focus,
.btn-default:active,
.btn:active,
button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border:none !important;
  border-color: transparent;
  box-shadow: none;
  outline: 0 none;
}

.btn:focus,.btn:active {
   outline: none !important;
}