<h2 style="text-align: center;"> Pick a template to start with </h2> 
<h3 style="text-align: center;"> Your site design can be changed at any point in time </h3>
<div class="row site-template-row">
  <% sites_templates.each do |s| %>
    <div class="col-md-6 site-template-selector" style="">
      <div class="template-selector-inner" data-template-id="<%= s.id %>" >
        <div class="content-centered">
          <%= s.title %>
        </div>
      </div>
    </div>
  <% end %>
</div>