/*
#editorcontainer {
  position:fixed;
  top:0px;
  z-index:16777271;
  height: 100px;
  width: 100%;
  margin:0px;
  padding:0px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aaaaaa; 
}
#contentcontainer {
  position:absolute;
  top:100px;
  padding-top:100px;
  bottom:0px;
  left:0px;
  right:0px;
}
*/
#editorcontainer {
  position: fixed;
  float:    left;
  top:0px;
  height:   100%;
  /*width:    200px;*/
  width:    0px;
  margin:   0px;
  padding:  0px;
  background-color: #f0f0f0;
  border-right: 1px solid #aaaaaa; 
}

#editorcontainer .editorwrapper {
  position: relative;
  width:100%;
  height:100%;
}

#widgeteditor {
  position:absolute;
  width:100%;
  height:50%;
  left:0;
  top:0;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
}

#globaleditor {
  position: absolute;
  width:100%;
  top:50%;
  left:0;
  bottom: 0;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
}

#contentcontainer {
  position: absolute;
  min-height: 100%;
  height:auto;
  overflow: hidden;
  /*left:200px;*/
  left:0px;
  right:0px;
  /*background: url(http://static.wixstatic.com/media/320983_3aa8105cb44b46d88681861529b5731a.jpg_srz_p_1920_1920_75_22_0.50_1.20_0.00_jpg_srz) 50% 50% / cover no-repeat no-repeat fixed rgb(255, 255, 255);*/
  /*background: url("../img/backgrounds/symphony.png") repeat repeat;*/
  /*background: url("../img/backgrounds/45degreee_fabric.png") repeat repeat;*/
  background: url("../img/backgrounds/texture_grain_200x200_v2.png") repeat repeat;
  /*background: url("../img/backgrounds/45degreee_fabric_@2X.png") repeat repeat;*/
  /*background: url("../img/backgrounds/subtle_white_mini_waves.png") repeat repeat;*/
}

.floating-menu {
  position: fixed;
/*  top:0px;
  left:0px;*/

  width:250px;
  height:auto !important;
  /*min-height:100px;*/
  /*background-color: rgba(102,102,102,.7);*/
  margin:0px !important;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.floating-menu:hover {
  /*cursor: move;*/
  cursor:col-resize;
}

.panel {
  border: none !important;
  /*border-radius: 0px !important;*/

  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;  
}

.panel-heading {
  padding: 10px 5px 10px 10px !important;
  background-color: rgba(120,120,120,.6) !important;
  /*border-radius: 0px !important;*/
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;  
}

.popover {
  z-index: 2000003; /* A value higher than 1010 that solves the problem */
}



}

.save-warn {
  color:#cf4c4c !important;
  font-size:2.0em !important;
  top:0px !important;
  animation:warn_animation 5s;
  -moz-animation:warn_animation 5s infinite;
  -webkit-animation:warn_animation 5s infinite;
}


@-moz-keyframes warn_animation {
  0%   {color:#CF4C4C;}
  15%  {color:orange;}
  100% {color:#CF4C4C;}
}
 
@-webkit-keyframes warn_animation {
  0%   {color:#B51F1F;}
  15%  {color:orange;}
  100% {color:#B51F1F;}
}