<span style="color:#333"> Or Log In with your social account</span>
</br></br>

<a class="btn btn-block btn-social btn-lg btn-facebook disabled">
  <i class="fa fa-facebook"></i>
  Log in with Facebook
</a>

<a class="btn btn-block btn-social btn-lg btn-google-plus disabled">
  <i class="fa fa-google"></i>
  Log in with Google
</a>